{% extends 'base.html' %}


{% block content %}
<!--Simple styling text for cards-->
<div class="container">
    <h1>Games Tracker</h1>
<div class="row">
    <!--games is a variable from views.py used to retrieve all relevant information-->
    <!--for loop is used to repeatedly create cards for each object defined separately-->
    <!--{} used to write python code into html-->
    {% for game in games %}
    <div class="col">
        <div class="card" style="width: 18rem; background-color: black; ">
            <img src="{{ game.image_url }}" class="card-img-top" alt="game image" >
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
<html>
</html>