#main-container{
    position: relative;
    padding: 5px;
}
.card-columns{
    padding-right: 5px;
}
.card-rows{
    margin: -5px;
}

.card-columns img{
    width: 98%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
    background-color: black;
}
.main-page{
    background-color: black;
}
#enlarged-img-container{
    top: var(--start-top);
    left: var(--start-left);
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;
    animation: centerContainer 0.15s ease-out forwards;
    padding: 20px;
    border-radius: 3px;
}
#enlarged-img-container img{
    
    width: var(--img-width);
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    animation: enlargenImg 0.15s ease-out forwards;
}
.button-custom{
    cursor: pointer;
    
}
.navbar-brand{
    cursor: default;
}
.blur {
    animation: blurring 0.15s ease-out forwards;
}
.navbar{
    background-color: grey;
}
@keyframes blurring{
    from{
        filter:blur(1px);
    }
    to{
        filter: blur(8px);
    }
}
@keyframes centerContainer{
    from {
        top: var(--start-top);
        left: var(--start-left);
        
    }
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@keyframes enlargenImg{
    from {
        width: var(--img-width);
    }
    to{
        width: 100%;
    }
}
