#image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#card-columns{
    padding-right: 5px;
}
#card-rows{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
#cards{ 
    padding-bottom: 5px;
    margin: 5px;
    background-color: black;
}
#cards img{
    width: 430px;
    height: 430px;
    object-fit: cover;
}
#main-page{
    background-color: black;
}

