#image-container{
    position: relative;
    padding: 5px;
}
#card-columns, #dynamic-card-columns{
    padding-right: 5px;
}
#card-rows, #dynamic-card-row{
    margin: -5px;
}
#cards, #dynamic-cards{ 
    padding-bottom: 5px;
    margin: 5px;
    background-color: black;
}
#cards img, #dynamic-cards img, #card-img, .col img{
    width: 850px;
    height: auto;
    margin: 10px;
    object-fit: cover;
    background-color: black;
}
#main-page{
    background-color: black;
}
#enlarged-image-container{
    position: fixed;
    z-index: 10;
    animation-name: enlargeningContainer;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    padding: 20px;
}
#enlarged-image-container img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
#home-button, .dropdown-menu a{
    cursor: pointer;
}
.navbar-brand{
    cursor: default;
}
.blur {
    filter: blur(8px);
}
.navbar{
    background-color: grey;
}
@keyframes enlargeningContainer{
    from {
        
    }
    to {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
