
<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saket Dhall</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="{% static 'ImageApp/css/styles.css' %}" rel="stylesheet">
</head>
<body id="main-page">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Saket Dhall</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
                    </li>
                    <li class="nav-item dropdown" id="dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" 
                            role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category    
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                            <a id="fashion-button" class="dropdown-item" >Fashion</a>
                            <a id="product-button" class="dropdown-item" >Product</a>
                            <div class="dropdown-divider"></div>
                            <a id="wedding-button" class="dropdown-item" >Wedding</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script>
    var href = "{% static '/ImageApp/css/styles.css' %}"
</script>
<script type="module" src="{% static '/ImageApp/js/display_img.js' %}"></script>
<script>
    var path = "{% static '/ImageApp/css/enlarged_img.css' %}"
</script>
<script type="module" src="{% static '/ImageApp/js/enlarge_image.js' %}"></script>
</body>
</html>
